<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/admin-head"></head>
<body>
<div class="container-scroller">

    <!-- partial:partials/_navbar.html -->
    <div th:replace="fragments/admin-header :: header_info (vm=${vm.getHeaderMenuAdminVM()})"></div>

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <div th:replace="fragments/admin-sidebar"></div>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="page-header">
                    <h1>Product Images Management</h1>
                </div>

                <div class="d-flex mb-3 justify-content-between">
<!--                    <button type="button" class="btn btn-primary" id="new-product" data-toggle="modal"-->
<!--                            data-target="#editProductSkuModal">-->
<!--                        Add new Image-->
<!--                    </button>-->
<!--                    <button type="button" class="btn btn-behance" onclick="printJS('skuList', 'html')">-->
<!--                        Print list SKUs-->
<!--                    </button>-->
                    <a class="btn btn-primary" href="/admin/product" style="align-self: flex-end">
                        Go back to Product List
                    </a>
                </div>
                <div id="skuList">
                    <div class="card">
                        <div class="card-body">
                            <h2>Product: <span th:text="${vm.getProductNameAndBrand()}"></span></h2>
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>
                                        <span style="font-weight:bold;">Index</span>
                                    </th>
                                    <th>
                                        <span style="font-weight:bold;">Image</span>
                                    </th>
                                    <th>
                                        <span style="font-weight:bold;">Created Date</span>
                                    </th>
                                    <th>
                                        <span style="font-weight:bold;">Options</span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="image : ${vm.getProductImageVMList()}">
                                    <td th:text="${image.getId()}"></td>
                                    <td>
                                        <img th:if="${!image.getImageURL().isEmpty()}"
                                             style="width:200px; height:auto; border-radius: 0" th:src="@{'/'+${image.getImageURL()}}">
                                        <i th:if="${image.getImageURL().isEmpty()}">No image</i>

                                    </td>
                                    <td th:text="${image.getCreatedDate()}"></td>
                                    <td>
                                        <label class="custom-file-upload btn btn-primary edit-product-image" style="border: 1px solid #ccc;display: inline-block;padding: 6px 12px;cursor: pointer;">
                                            <input type="file" style="display: none;"/>
                                            Change image
                                        </label>
                                        <button>
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>

            <!-- partial:partials/_footer.html -->
            <div th:replace="fragments/admin-footer :: footer_info"></div>
            <!-- partial -->
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
</div>
<script th:src="@{/vendors/base/vendor.bundle.base.js}"></script>
<script th:src="@{/js/off-canvas.js}"></script>
<script th:src="@{/js/hoverable-collapse.js}"></script>
<script th:src="@{/js/template.js}"></script>
<script th:src="@{/vendors/chart.js/Chart.min.js}"></script>
<script th:src="@{/vendors/jquery-bar-rating/jquery.barrating.min.js}"></script>
<script th:src="@{/js/axios.min.js}"></script>
<script th:src="@{/js/sweetalert2.min.js}"></script>
<script th:src="@{/js/dashboard.js}"></script>

<script th:src="@{/js/admin-product-image.js}"></script>
</body>

</html>