<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/admin-head"></head>
<body>
<div class="container-scroller">

    <!-- partial:partials/_navbar.html -->
    <div th:replace="fragments/admin-header :: header_info (vm=${vm.getHeaderMenuAdminVM()})"></div>

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <div th:replace="fragments/admin-sidebar"></div>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="page-header">
                    <h1>Product Management</h1>
                    <form class="form-inline my-2 my-lg-0" th:action="@{/admin/product}" th:object="${productname}"
                          method="get">
                        <input class="form-control mr-sm-2" th:field="*{name}" type="search" placeholder="Search"
                               aria-label="Search">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </form>
                </div>
                <h2 th:if="${vm.getSearch()}" th:text="${vm.getSearch()}"></h2>

                <button type="button" class="btn btn-primary" id="new-product" data-toggle="modal"
                        style="margin-bottom: 20px" data-target="#exampleModalLong">
                    Add new product
                </button>
                <button type="button" class="btn btn-behance" onclick="printJS('a', 'html')"
                        style="margin-bottom: 20px">
                    Print js
                </button>
                <div class="col-lg-12 grid-margin stretch-card" id="a">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th colspan="1">
                                        <span style="font-weight:bold;">Index</span>
                                    </th>
                                    <th colspan="1">
                                        <span style="font-weight:bold;">Image</span>
                                    </th>
                                    <th colspan="1">
                                        <span style="font-weight:bold;">Product</span>
                                    </th>
                                    <th colspan="1">
                                        <span style="font-weight:bold;">Brand</span>
                                    </th>
                                    <th colspan="1">
                                        <span style="font-weight:bold;">Scent</span>
                                    </th>
                                    <th colspan="1">
                                        <span style="font-weight:bold;">Type</span>
                                    </th>
                                    <th colspan="1">
                                        <span style="font-weight:bold;">Description</span>
                                    </th>
                                    <th colspan="1">
                                        <span style="font-weight:bold;">Created Date</span>
                                    </th>
                                    <th colspan="1">
                                        <span style="font-weight:bold;">Options</span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="product : ${vm.getProductVMList()}">
                                    <td colspan="1" th:text="${product.getId()}"></td>
                                    <td colspan="1">
                                        <img style="width:100px; height:auto" th:src="@{'/'+${product.getImageURL()}}">

                                    </td>
                                    <td colspan="1" th:text="${product.getName()}"></td>
                                    <td colspan="1" th:text="${product.getBrand()}"></td>
                                    <td colspan="1" th:text="${product.getScent()}"></td>
                                    <td colspan="1" th:text="${product.getType()}"></td>
                                    <td colspan="1" th:text="${product.getDesc()}"></td>
                                    <td colspan="1" th:text="${product.getCreatedDate()}"></td>
                                    <td colspan="1">
                                        <button class="btn-primary btn-sm edit-product"
                                                th:attr="data-product = ${product.getId()}" data-toggle="modal"
                                                title="Edit product" data-target="#editProductModal">
                                            Edit
                                        </button>
                                        <!--                                        <i class="mdi mdi-brightness-7 tooltip-test edit-product"-->

                                        <!--                                           style="cursor: pointer"></i>-->
                                        <a th:href="@{'/admin/product-sku/' + ${product.getId()}}">
                                            <i class="mdi mdi-file-cabinet tooltip-test"
                                               title="List SKUs"></i>
                                        </a>
                                        <a th:href="@{'/admin/product-image/' + ${product.getId()}}">
                                            <i class="mdi mdi-folder-multiple-image tooltip-test"
                                               title="List images"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


                <nav style="margin-top: 50px" aria-label="..." th:if="${vm.getProductVMList().size()>0}">
                    <ul class="pagination">
                        <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                            <li class="page-item active" th:if="${page.number == i}" aria-current="page">
                                <a class="page-link" th:href="${''}" th:text="${i+1}"><span class="sr-only"></span></a>
                            </li>
                            <li class="page-item" th:unless="${page.number == i}"><a class="page-link" th:text="${i+1}"
                                                                                     th:href="${'?'
                                                                                       +('&page='+i)
                                                                                       +(#httpServletRequest.getParameter('size')==null?'':('&size='+#httpServletRequest.getParameter('size')))
                                                                                       +(#httpServletRequest.getParameter('name')==null?'':('&name='+#httpServletRequest.getParameter('name')))}"></a>
                            </li>
                        </th:block>
                    </ul>
                </nav>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="editProductModal" tabindex="-1" role="dialog"
                 aria-labelledby="editProductModalTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editProductModalTitle">Add new/ update product</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div style="text-align: center">
                                <img style="width:100px; height:auto" class="product-img">
                            </div>

                            <div class="form-group margin-bottom-15" style="margin-top: 20px">
                                <label>Product name:</label>
                                <input type="text" class="form-control" id="input-product-name">
                            </div>

                            <div class="form-group">
                                <label>Brand:</label>
                                <select class="form-control" id="input-product-brand">
                                    <option th:each="brand : ${vm.getBrandVMList()}"
                                            th:value="${brand.getId()}" th:text="${brand.getName()}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Scent:</label>
                                <select class="form-control" id="input-product-scent">
                                    <option th:each="scent : ${vm.getScentVMList()}"
                                            th:value="${scent.getId()}" th:text="${scent.getName()}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Type:</label>
                                <select class="form-control" id="input-product-type">
                                    <option th:each="type : ${vm.getTypeVMList()}"
                                            th:value="${type.getId()}" th:text="${type.getName()}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Gender:</label>
                                <select class="form-control" id="input-product-gender">
                                    <option value="0">Both</option>
                                    <option value="1">Female</option>
                                    <option value="2">Male</option>
                                </select>
                            </div>

                            <div class="form-group margin-bottom-15">
                                <label>Product description:</label>
                                <textarea type="text" class="form-control" id="input-product-desc"></textarea>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary btn-save-product">Save changes</button>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <div th:replace="fragments/admin-footer :: footer_info"></div>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
</div>
<script th:src="@{/vendors/base/vendor.bundle.base.js}"></script>
<script th:src="@{/js/off-canvas.js}"></script>
<script th:src="@{/js/hoverable-collapse.js}"></script>
<script th:src="@{/js/template.js}"></script>
<script th:src="@{/vendors/chart.js/Chart.min.js}"></script>
<script th:src="@{/vendors/jquery-bar-rating/jquery.barrating.min.js}"></script>
<script th:src="@{/js/axios.min.js}"></script>
<script th:src="@{/js/sweetalert2.min.js}"></script>
<script th:src="@{/js/dashboard.js}"></script>

<script th:src="@{/js/admin-product.js}"></script>
</body>

</html>