<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">-->
<head>
    <meta charset="UTF-8">
</head>
<body>
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/admin/">
                    <i class="icon-box menu-icon"></i>
                    <span class="menu-title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="icon-disc menu-icon"></i>
                    <span class="menu-title">Products</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="icon-command menu-icon"></i>
                    <span class="menu-title">Brands</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="icon-file menu-icon"></i>
                    <span class="menu-title">Orders</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="icon-book menu-icon"></i>
                    <span class="menu-title">Blogs</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="icon-user menu-icon"></i>
                    <span class="menu-title">Users</span>
                </a>
            </li>
        </ul>
    </nav>



</body>
</html>