<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<div th:replace="fragments/header :: header_info (vm=${vm.getHeaderMenuVM()})"></div>

<div class="hero-wrap hero-bread" style="background-image: url('images/bg_6.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-0 bread">My Cart</h1>
                <p class="breadcrumbs">
                    <span class="mr-2">
                        <a href="/">Home</a>
                    </span>
                    <span class="mr-2"> / </span>
                    <span>Cart</span>
                </p>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section ftco-cart">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="cart-list">
                    <table class="table">
                        <thead class="thead-primary">
                        <tr class="text-center">
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th>Item</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody th:each="cartSku : ${vm.getCartSkuVMList()}">
                        <tr class="text-center">
                            <td class="product-remove">
                                <a class="delete-cartSku" th:attr="data-cartSku=${cartSku.getId()}"
                                   th:href="@{'/api/cart-sku/delete/'+${cartSku.getId()}}">
                                    <span class="ion-ios-close"></span></a>
                            </td>
                            <td class="image-prod">
                                <!--                                <div class="img" style="background-image:url(images/product-3.jpg);"></div>-->
                                <img class="img" th:src="${cartSku.getSkuImage()}" th:alt="${cartSku.getProductName()}">
                            </td>
                            <td class="product-name">
                                <h3 th:text="${cartSku.getBrandName()}" class="brand-link"></h3>
                                <h3 th:text="${cartSku.getProductName()}"></h3>
                                <p th:text="${cartSku.getVolume()}"></p>
                            </td>

                            <td class="price" th:text="${cartSku.getPrice()}"></td>

                            <td class="quantity  cart-sku-row">
                                <input type="number" name="quantity" th:id="@{'quantity'+${cartSku.getSkuId()}}"
                                       class="form-control"
                                       th:value="${cartSku.getQuantity()}" min="1" max="100">
                                <span class="sku-id d-none" th:text="${cartSku.getId()}"></span>
                            </td>
                            <td class="price" th:id="@{'price'+${cartSku.getSkuId()}}"
                                th:text="${cartSku.getPrice()*cartSku.getQuantity()}"></td>

                            <script type="text/javascript" th:inline="javascript">
                                document.getElementById('quantity' + [[${cartSku.getSkuId()}]]).onchange = function () {
                                    //get current totalPrice and deduce from it the subtotal of selected sku
                                    document.getElementById('totalPrice').innerText =
                                        parseInt(document.getElementById('totalPrice').innerText) - parseInt(document.getElementById('price' + [[${cartSku.getSkuId()}]]).innerText);
                                    // calculate new subtotal by using new quantity
                                    document.getElementById('price' + [[${cartSku.getSkuId()}]]).innerText =
                                        [[${cartSku.getPrice()}]] * document.getElementById('quantity' + [[${cartSku.getSkuId()}]]).value;
                                    // add new subtotal to totalPrice
                                    document.getElementById('totalPrice').innerText =
                                        parseInt(document.getElementById('totalPrice').innerText) + parseInt(document.getElementById('price' + [[${cartSku.getSkuId()}]]).innerText);
                                }
                            </script>
                        </tr><!-- END TR-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col col-lg-5 col-md-6 mt-5 cart-wrap ftco-animate">
                <div class="btn btn-primary py-3 px-4 update-cart-btn" style="width: 50%">Update Cart</div>
            </div>
            <div class="col col-lg-5 col-md-6 mt-5 cart-wrap ftco-animate">
                <div class="cart-total mb-3">
                    <!--                    <h3>Cart Totals</h3>-->

                    <!--                    <p class="d-flex">-->
                    <!--                        <span>Subtotal</span>-->
                    <!--                        <span id="subTotalPrice" th:text="${vm.getTotalPrice()}"></span>-->
                    <!--                    </p>-->

                    <!--                    <p class="d-flex">-->
                    <!--                        <span>Discount</span>-->
                    <!--                        <span>$3.00</span>-->
                    <!--                    </p>-->
                    <!--                    <hr>-->
                    <p class="d-flex total-price">
                        <span>Cart Total</span>
                        <span id="totalPrice" th:text="${vm.getTotalPrice()}"></span>
                    </p>
                </div>
                <p class="text-center">
                <a th:href="@{'/order/checkout'}" class="btn btn-primary py-3 px-4">Proceed to Checkout</a>
                </p>
            </div>
        </div>
    </div>
</section>

<div th:replace="fragments/footer :: footer_info"></div>

<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#F96D00"/>
    </svg>
</div>


<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery-migrate-3.0.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.easing.1.3.js}"></script>
<script th:src="@{/js/jquery.waypoints.min.js}"></script>
<script th:src="@{/js/jquery.stellar.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js/aos.js}"></script>
<script th:src="@{/js/jquery.animateNumber.min.js}"></script>
<script th:src="@{/js/scrollax.min.js}"></script>
<script th:src="@{/js/axios.min.js}"></script>
<script th:src="@{/js/sweetalert2.min.js}"></script>
<script th:src="@{/js/main.js}"></script>


<script th:src="@{/js/page_cart.js}"></script>
</body>
</html>

