<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<div th:replace="fragments/header :: header_info (vm=${vm.getHeaderMenuVM()})"></div>


<div class="hero-wrap hero-bread" style="background-image: url('../images/bg_6.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-0 bread" th:text="${vm.getBrandName()} +' - ' +${vm.getProductName()}"></h1>
                <p class="breadcrumbs">
                    <span class="mr-2">
                        <a href="/">Home</a>
                    </span>
                    <span class="mr-2"> / </span>
                    <span class="mr-2"><a href="/shop">Shop</a></span>
                    <span class="mr-2"> / </span>
                    <span th:text="${vm.getBrandName()} +' - ' +${vm.getProductName()}"></span>
                </p>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 ftco-animate">
                <div class="s_product_img">
                    <div
                        id="productCarousel"
                        class="carousel slide"
                        data-ride="carousel"
                    >
                        <ol class="carousel-indicators">
                            <li
                                th:each="image, state : ${vm.getProductImageVMList()}"
                                data-target="#productCarousel"
                                th:data-slide-to="${state.index}"
                                th:classappend="(${state.index} == 0 )? 'active' : '' "

                            >
                                <img
                                        th:src="@{'../'+${image.getImageURL()}}"
                                        th:alt="${vm.getProductName()}+' image'"
                                />
                            </li>
                        </ol>
                        <div class="carousel-inner" >
                            <div class="carousel-item" th:classappend="${state.index} == 0 ? 'active': '' "
                                 th:each="image, state : ${vm.getProductImageVMList()}">
                                <img
                                        class="d-block w-100"
                                        th:src="@{'../'+${image.getImageURL()}}"
                                        th:alt="${vm.getProductName()}+' image'"
                                />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-6 product-details pl-md-5 ftco-animate">
                <div class="s_product_overview">
                    <a href="#" class="brand_link" th:text="${vm.getBrandName()}"></a>
                    <h3 th:text="${vm.getProductName()}"></h3>
                    <span class="product_sku_size">SIZE <span  th:text="${vm.getSkuName()}"></span></span>
                    <h2 th:text="${vm.getPrice()}"></h2>

                    <div class="product_sku_list" style="margin-top: 40px">
                        <span style="margin-bottom:20px">Product family</span>
                        <div class="sku_button_list">
                            <a class="sku_button" th:href="@{'~/product/?sku='+${sku.getId()}}"
                                 th:classappend="(${sku.getId()} eq ${vm.getSkuId()}) ? 'active' : ''"
                                 th:each="sku, state : ${vm.getChildrenSkuList()}">
                                <img  th:src="@{'../'+${sku.getImageURL()}}"
                                      th:alt="${sku.getName()}+' image'"
                                      class="sku_thumb">
                                <span class="sku_name" th:text="${sku.getName()} + ' ' + ${sku.getSpec()}"></span>
                            </a>
                        </div>
                    </div>

                    <div class="product_quantity">
                        <label for="quantity">Quantity:</label>
                        <select name="select" id="quantity">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                        </select>

                    </div>
                    <button th:attr="data-product=${vm.getSkuId()}" class="btn btn-cart add-to-cart-sku"  >Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="product_description_area">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a
                        class="nav-link active"
                        id="home-tab"
                        data-toggle="tab"
                        href="#desc"
                        role="tab"
                        aria-controls="home"
                        aria-selected="true"
                >Description</a
                >
            </li>
            <li class="nav-item">
                <a
                        class="nav-link"
                        id="profile-tab"
                        data-toggle="tab"
                        href="#brand"
                        role="tab"
                        aria-controls="profile"
                        aria-selected="false"
                >About the Brand</a
                >
            </li>
            <li class="nav-item">
                <a
                        class="nav-link"
                        id="contact-tab"
                        data-toggle="tab"
                        href="#ship"
                        role="tab"
                        aria-controls="contact"
                        aria-selected="false"
                >Shipping and Return</a
                >
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div
                    class="tab-pane fade "
                    id="desc"
                    role="tabpanel"
                    aria-labelledby="home-tab"
            >

                <p>
                    <span style="font-weight: bold">Scent Family: </span>
                    <a th:href="@{'/shop?scent='{id}(id=${vm.getScentId()})}" th:text="${vm.getScentName()}"></a>
                </p>
                <p>
                    <span style="font-weight: bold">Type Family: </span>
                    <a th:href="@{'/shop?type='{id}(id=${vm.getTypeId()})}" th:text="${vm.getTypeName()}"></a>
                </p>
            </div>
            <div
                    class="tab-pane fade"
                    id="brand"
                    role="tabpanel"
                    aria-labelledby="profile-tab"
            >
                <div>
                    <p>
                        <span style="font-weight: bold">Brand: </span>
                        <a th:href="@{'/shop?brand='{id}(id=${vm.getBrandId()})}" th:text="${vm.getBrandName()}"></a>
                    </p>
                    <p>
                        <span style="font-weight: bold">Brand Description: </span>
                    </p>
                    <p th:text="${vm.getBrandDesc()}"></p>
                </div>
            </div>
            <div
                    class="tab-pane fade"
                    id="ship"
                    role="tabpanel"
                    aria-labelledby="contact-tab"
            >
                <div>
                    <p>Buy buy</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section-parallax">
    <div class="parallax-img d-flex align-items-center">
        <div class="container">
            <div class="row d-flex justify-content-center py-5">
                <div class="col-md-7 text-center heading-section ftco-animate">
                    <h1 class="big">Subscribe</h1>
                    <h2>Subcribe to our Newsletter</h2>
                    <div class="row d-flex justify-content-center mt-5">
                        <div class="col-md-8">
                            <form action="#" class="subscribe-form">
                                <div class="form-group d-flex">
                                    <input type="text" class="form-control" placeholder="Enter email address">
                                    <input type="submit" value="Subscribe" class="submit px-3">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="fragments/footer :: footer_info"></div>

<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#F96D00"/>
    </svg>
</div>


<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery-migrate-3.0.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.easing.1.3.js}"></script>
<script th:src="@{/js/jquery.waypoints.min.js}"></script>
<script th:src="@{/js/jquery.stellar.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js/aos.js}"></script>
<script th:src="@{/js/jquery.animateNumber.min.js}"></script>
<script th:src="@{/js/scrollax.min.js}"></script>
<script th:src="@{/js/axios.min.js}"></script>
<script th:src="@{/js/main.js}"></script>

<script th:src="@{/js/page_sku.js}"></script>
<script th:src="@{/js/jquery.nice-select.min.js}"></script>

</body>
</html>